<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.fiap.senex" >

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".home_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".tela_responsavel_activity"></activity>
		<activity android:name="._cadastro_paciente_1_4_activity"></activity>
		<activity android:name="._cadastro_responsavel_1_1_activity"></activity>
		<activity android:name="._cadastro_paciente_1_2_activity"></activity>

	</application>

</manifest>
	
	